.ol_loading {
	width: 100%;
	height:31px;
	background: url( 'loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
	position:absolute;
	top:40%;
	left:0px;
}
.ol_loading_mask{
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;	 
	background-color: #fff;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	display:none;
}

.ol_loading_text{
	width: 100%;
	height:31px;
	background-repeat: no-repeat;
	background-position: center center;
	position:absolute;
    text-align:center;	
	left:0px;   
	font-size: 12px;
	font-family: Arial, "ו"; 
	font-weight: 200;
}

.ol_loading_div{
	width: 100%;
	height:31px;
	background-repeat: no-repeat;
	background-position: center center;
	display:none;
	position:absolute;
	top:40%;
	left:0px;	
}
